﻿@model WebTask.Models.Employee

@{
    ViewData["Title"] = "Personal Page";
}

<h1>Personal Page</h1>

<div>
    <h4>@Model.Name</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-dark">Edit</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4"><img class="rounded-img big-avatar" src="~/avatars/@Model.ImagePath" /></div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Speciality)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Speciality)
                </dd>
                <dt class="col-sm-2">
                    Employement Date
                </dt>
                <dd class="col-sm-10">
                    @Model.EmployementDate.ToShortDateString()
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <h2>Tasks:</h2>
    <div>
        <a asp-route-id="@Model.Id" asp-controller="Tasks" asp-action="Create" class="btn btn-primary">Add task</a>
    </div>
    <br />
    <div class="row">
        @if (Model.ListOfTasks.Count == 0)
        {
            <div class="container">
                <p>No tasks for this user.</p>
            </div>
        }
        else
        {
            @foreach (WebTask.Models.Task task in Model.ListOfTasks)
            {
                <div class="col-sm-4">
                    <div class="card">
                        <h5 class="card-header">@task.CompletionDate.ToShortDateString()</h5>
                        <div class="card-body">
                            <h5 class="card-title">@task.Name</h5>
                            <p class="card-text">@task.Description</p>
                            <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger">Delete</a>
                            <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@task.Id" class="btn btn-dark">Edit</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
