﻿@model IEnumerable<WebTask.Models.Employee>
@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>

<html>
<head>
    <title>Employees</title>
</head>
<body>
    <h3>Employees</h3>
    <form asp-action="Search" method="get" class="row search-form">
        <div class="col-sm-3">
            <input type="text" name="name" placeholder="name" class="form-control">
        </div>
        <div class="col-sm-3">
            <select name="speciality" class="form-control" required>
                <option selected disabled>select speciality</option>
                @foreach (string speciality in ViewBag.Specialitys)
                {
                    <option>@speciality</option>
                }
            </select>
        </div>
        <div class="col-sm-2">
            <input type="number" name="age" placeholder="age" class="form-control">
        </div>
        <div class="col-sm-2">
            <input type="date" name="employementDate" placeholder="Employement Date" class="form-control" />
        </div>
        <div class="col-sm-2">
            <input type="submit" name="commit" value="Search" class="btn btn-primary btn-block">
        </div>
    </form>
    <div>
        <a asp-action="Create" asp-controller="Employees" class="btn btn-primary">Add</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Speciality</th>
                <th scope="col">Age</th>
                <th scope="col">Employement Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td><img class="avatar rounded-img" src="~/avatars/@employee.ImagePath" /></td>
                    <td><a href="/Employees/Details/@employee.Id">@employee.Name</a></td>
                    <td>@employee.Speciality</td>
                    <td>@employee.Age</td>
                    <td>@employee.EmployementDate.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>