﻿@model WebTask.Models.AuthenticateModel

@{
    ViewData["Title"] = "Authenticate";
}

<h1>Authentication</h1>

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Authentication" asp-action="Authenticate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Ok" class="btn btn-primary" />
            </div>
            @if (ViewBag.ErrorMessage != null)
            {
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            }
        </form>
    </div>
</div>

