﻿@model WebTask.Models.Employee

@{
    ViewData["Title"] = "PersonalPage";
}

<h1>PersonalPage</h1>

<div>
    <h4>@Model.Name</h4>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4"><img class="rounded-img big-avatar img-fluid" src="~/avatars/@Model.ImagePath" /></div>
        <div class="col-sm-8">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Age)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Age)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Speciality)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Speciality)
                </dd>
                <dt class="col-sm-2">
                    Employement Date
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmployementDate)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div>
    <h2>Tasks:</h2>
    <div class="row">
        @if (Model.ListOfTasks.Count == 0)
        {
            <div class="container">
                <p>No tasks for this user.</p>
            </div>
        }
        else
        {
            @foreach (WebTask.Models.Task task in Model.ListOfTasks)
            {
                <div class="col-sm-4">
                    <div class="card bg-light" style="max-width: 18rem;">
                        <div class="card-header">@task.CompletionDate</div>
                        <div class="card-body">
                            <h5 class="card-title">@task.Name</h5>
                            <p class="card-text">@task.Description</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
